streamlit
matplotlib
seaborn
pandas
numpy
requests

# APIs de Marketing y Publicidad
facebook-business
google-ads
google-analytics-data
google-auth
google-auth-oauthlib

# APIs de E-commerce
shopify-python-api
woocommerce

# APIs de CRM
salesforce-api
hubspot-api-client
pipedrive-python-lib

# APIs de Email Marketing
mailchimp3
sendgrid

# Base de datos
sqlalchemy
psycopg2-binary
pymongo

# Archivos
openpyxl
xlrd
